/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

.scoreboard {
  padding: 10px;
  position: absolute;
  top: 40px;
  right: 40px;
  background: #ddd;
  text-align: right;
  border-radius: 3px;
}